.parent {
  border: 1px solid #dce0eb;

  .content {
    .tabContent {
      .form {
        display: flex;
        flex-direction: column;

        .formContent {
          margin: 0;
          padding: 0;

          .formGroup {
            display: flex;
            flex-direction: column;
            flex: 1;

            label {
              padding: 0.5rem 0;
            }

            .formInput,
            .formTextarea {
              // border: 1px solid #dce0eb;
              outline: none;
              padding: 10px 15px;
              border-radius: 6px;

              &:focus {
                border: 1px solid #f84563;
              }
            }
          }

          .btnGroup {
            // width: 100%;

            button {
              color: #fff;
              // width: 100%;

              background-color: #f84563;
              padding: 0.5rem 1rem;
              border-radius: 6px;
              border: 1px solid #f1697f;
              &:hover {
                background-color: #fff;
                color: #f1697f;
                border: 1px solid #f1697f;
              }
            }
          }
        }
      }
    }
  }
}
