aside {

    .introduce {
        border-radius: 10px;
        border: 1px solid #E9ECEF;
        // box-sizing: border-box;
        .top {
            height: 100px;
            position: relative;
            border-radius: 10px 10px 0 0;

            .avt {
                position: absolute;
                top: 50%;
                right: 0;
                height: 100%;
                width: 100%;
                text-align: center;
            }
        }

        .info {
            text-align: center;

        }

        .act {
            text-align: center;
            

            button {
                width: 100%;
                
                // background-color: ;
            }
        }
    }

    .menuItems {
        // background-color: blueviolet;
        border-radius: 10px;
        border: 1px solid #E9ECEF;

        // .content {
        //     ul {
        //         li {
                    
        //         }
        //     }
        // }
    }
}
