// File này đặt các css ghi đê antd

// <====== Bắt đầu header ======>


:where(.css-dev-only-do-not-override-5wsri9).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #ffdeda;
  border: none;
}

.dark :where(.css-dev-only-do-not-override-5wsri9).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #2b2838;
  color: #b9b7c0;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher {
  width: 0;
}

.dark :where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree {
  background: #3d3a4e;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected,
:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-checkbox+span.ant-select-tree-node-selected {
  background-color: #dddddd;
}

.dark :where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected,
:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-checkbox+span.ant-select-tree-node-selected {
  background-color: #2b2838; // màu focus
}

:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper,
:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-checkbox+span {
  border-radius: 0;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper:hover,
:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-checkbox+span:hover {
  background-color: #ffdeda;
}

.dark :where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper:hover,
:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-checkbox+span:hover {
  background-color: #633c38;
}

.dark :where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper,
:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-checkbox+span {
  color: #b9b7c0;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-list-holder-inner .ant-select-tree-treenode .ant-select-tree-node-content-wrapper {
  padding: 6px;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown {
  padding: 0px;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-select-dropdown {
  padding: 0px;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode {
  padding: 0px;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-dropdown .ant-dropdown-menu,
:where(.css-dev-only-do-not-override-5wsri9).ant-dropdown-menu-submenu .ant-dropdown-menu {
  padding: 0;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item,
:where(.css-dev-only-do-not-override-5wsri9).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item,
:where(.css-dev-only-do-not-override-5wsri9).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
:where(.css-dev-only-do-not-override-5wsri9).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
  padding: 8px 12px;
  border-radius: 0;
}

.dark :where(.css-dev-only-do-not-override-5wsri9).ant-dropdown .ant-dropdown-menu,
:where(.css-dev-only-do-not-override-5wsri9).ant-dropdown-menu-submenu .ant-dropdown-menu {
  background-color: #2b2838;
}

.dark :where(.css-dev-only-do-not-override-5wsri9).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content>a,
:where(.css-dev-only-do-not-override-5wsri9).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-title-content>a {
  color: #b9b7c0;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-btn-variant-outlined:not( :disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-5wsri9).ant-btn-variant-dashed:not( :disabled):not(.ant-btn-disabled):hover {
  background: transparent;
  color: #000000e0;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content>a,
:where(.css-dev-only-do-not-override-5wsri9).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-title-content>a {
  color: #212529;
}


/* Chỉ áp dụng thêm cho chế độ light */
:where(.css-dev-only-do-not-override-5wsri9).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  color: #ff875a;
}

.dark :where(.css-dev-only-do-not-override-5wsri9).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover,
.dark :where(.css-dev-only-do-not-override-5wsri9).ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background-color: #f8f9fa;
}


//  <====== Kết thúc header ======>

// Tabs antd phần Profile
//  <====== Bắt đầu ======>
:where(.css-dev-only-do-not-override-5wsri9)[class^="ant-tabs"] [class^="ant-tabs"],
:where(.css-dev-only-do-not-override-5wsri9)[class*=" ant-tabs"] [class^="ant-tabs"] {
  // box-sizing: border-box;
  flex: 1;
  // text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

// activeTab
.dark :where(.css-dev-only-do-not-override-5wsri9).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #F84563;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #F84563;
}


.dark :where(.css-dev-only-do-not-override-5wsri9).ant-tabs .ant-tabs-tab {
  color: #B9B7C0;

}

// :where(.css-dev-only-do-not-override-5wsri9).ant-tabs .ant-tabs-tab {

// }


// hoverTab
:where(.css-dev-only-do-not-override-5wsri9).ant-tabs .ant-tabs-tab:hover {
  color: #F84563;

}

:where(.css-dev-only-do-not-override-5wsri9).ant-tabs-top>.ant-tabs-nav .ant-tabs-ink-bar,
:where(.css-dev-only-do-not-override-5wsri9).ant-tabs-top>div>.ant-tabs-nav .ant-tabs-ink-bar {
  // bottom: 0;
  background: none;
  // width: 640px !important;
  // left: 320px !important;
  // transform: translateX(-50%) !important;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-tabs .ant-tabs-tab+.ant-tabs-tab-active {
  margin: 0;
  border-bottom: 2px solid red;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-tabs .ant-tabs-tab+.ant-tabs-tab {
  margin: 0;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
  color: #F84563;
  border-bottom: 2px solid;
}

//  <====== Kết thúc ======>



//  <====== Bắt đầu table ======>
.dark .ant-table-wrapper table {
  background: #2b2838;
  color: #b9b7c0;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
:where(.css-dev-only-do-not-override-5wsri9).ant-table-wrapper .ant-table-thead>tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  width: 0px;
}

.dark .ant-table thead>tr>th {
  background: #3a3545;
  color: #b9b7c0;
}

.dark .ant-table tbody>tr>td {
  border-bottom: 1px solid #3a3545;
}

.dark .ant-table tbody>tr:hover>td {
  background: none !important;
}

.ant-table tbody>tr:hover>td {
  background: none !important;
}

.dark :where(.css-dev-only-do-not-override-5wsri9).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-5wsri9).ant-table-wrapper .ant-table-thead>tr>td {
  border-bottom: 1px solid #5a5a5a;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-disabled .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link {
  border: 1px solid #e9ecef;
}

//pagination
/* Màu chữ cho mục phân trang đang được chọn */
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item-active a {
  color: white;
}

/* Viền và nền cho mục phân trang đang được chọn (viền cùng màu với nền) */
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item-active {
  border: 1px solid #ff4667;
  background: #ff4667;
}

/* Hover cho các mục không được chọn (không active) trong light mode */
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover a {
  color: white;
  background: #ff4667;
  border-radius: 6px;
  border: 1px solid #ff4667;
}

/* Hover cho mục đang được chọn (active) */
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item-active:hover a {
  color: white;
}

/* Giữ màu viền và nền khi hover vào mục active */
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item-active:hover {
  border-color: #ff4667;
  background: #ff4667;
  border: 1px solid #ff4667;
}

/* Bo góc và viền cho các mục không được chọn trong light mode */
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item:not(.ant-pagination-item-active) a {
  border-radius: 6px;
  border: 1px solid #e9ecef;
}

/* Viền cho các nút "Trước" và "Sau" trong chế độ dark và light mode */
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-prev .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-next .ant-pagination-item-link {
  border: 1px solid #685f78;
}

.dark:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-prev .ant-pagination-item-link,
.dark:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-next .ant-pagination-item-link {
  border: 1px solid #685f78;
}

/* Màu cho biểu tượng SVG trong pagination */
.ant-pagination .anticon svg {
  color: #685f78 !important;
}

//  <====== Kết thúc table ======>