/* paymentMethodAntd.scss */
.payment-method-wrapper {
  .dark .ant-input-outlined:focus,
  .ant-input-outlined:focus-within {
    box-sizing: border-box;
    border: 1px solid #ec7d37;
    outline: 0;
    background-color: transparent;
  }

  .dark .ant-input {
    border: 1px solid black;
  }

  .ant-input-outlined {
    border: 1px solid #e9ecef;
    background-color: #e9ecef;

  }

  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
  }

  .ant-input:hover {
    border: 1px solid #ec7d37;
    background-color: transparent;
  }
}

.dark .payment-method-wrapper .ant-input-outlined {
  border: 1px solid #5a5a5a;
  background-color: #5a5a5a;
}
