// <====== Bắt đầu header ======>

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #ffdeda;
  border: none;
}

.dark
  .ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  background-color: #2b2838;
  color: #b9b7c0;
}

.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher {
  width: 0;
}

.dark .ant-tree-select-dropdown .ant-select-tree {
  background: #3d3a4e;
}

.ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected,
.ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-checkbox
  + span.ant-select-tree-node-selected {
  background-color: #dddddd;
}

.dark
  .ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected,
.ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-checkbox
  + span.ant-select-tree-node-selected {
  background-color: #2b2838; // màu focus
}

.ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-node-content-wrapper,
.ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-checkbox
  + span {
  border-radius: 0;
}

.ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-node-content-wrapper:hover,
.ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-checkbox
  + span:hover {
  background-color: #ffdeda;
}

.dark
  .ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-node-content-wrapper:hover,
.ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-checkbox
  + span:hover {
  background-color: #633c38;
}

.dark
  .ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-node-content-wrapper,
.ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-checkbox
  + span {
  color: #b9b7c0;
}

.ant-tree-select-dropdown
  .ant-select-tree
  .ant-select-tree-list-holder-inner
  .ant-select-tree-treenode
  .ant-select-tree-node-content-wrapper {
  padding: 6px;
}

.ant-tree-select-dropdown {
  padding: 0px;
}

.ant-select-dropdown {
  padding: 0px;
}

.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode {
  padding: 0px;
}

.ant-dropdown .ant-dropdown-menu,
.ant-dropdown-menu-submenu .ant-dropdown-menu {
  padding: 0;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
.ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-submenu-title {
  padding: 8px 12px;
  border-radius: 0;
}

.dark .ant-dropdown .ant-dropdown-menu,
.ant-dropdown-menu-submenu .ant-dropdown-menu {
  background-color: #2b2838;
}

.dark .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content > a,
.ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-title-content
  > a {
  color: #b9b7c0;
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  background: transparent;
  color: #000000e0;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content > a,
.ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-title-content
  > a {
  color: #212529;
}

/* Chỉ áp dụng thêm cho chế độ light */
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  color: #ff875a;
}

.dark .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover,
.dark
  .ant-dropdown-menu-submenu
  .ant-dropdown-menu
  .ant-dropdown-menu-item:hover {
  background-color: #f8f9fa;
}

//  <====== Kết thúc header ======>