.parent {
  border: 1px solid #dce0eb;

  .heading {
    border-bottom: 1px solid #dce0eb;
  }

  .content {
    .tabContent {
      .info {
        border-bottom: 1px solid #dce0eb;

        .subContent {
          .act {
            display: flex;
            align-items: center;

            button {
              background-color: #f4f6f9;
              padding: 0.5rem 1rem;
              border-radius: 5px;
              width: 50px;
              height: 50px;

              &:hover {
                background-color: #f84563;
                border-color: #f84563 !important;
              }
            }
          }
        }
      }

      .form {
        display: flex;
        flex-direction: column;

        .heading {
          border-bottom: none;
        }

        .formContent {
          margin: 0;
          padding: 0;

          .formGrid {
            display: flex;
            gap: 1rem;

            .formGroup {
              display: flex;
              flex-direction: column;
              flex: 1;

              label {
                padding: 0.5rem 0;
              }

              .formInput {
                border: 1px solid #dce0eb;
                outline: none;
                padding: 10px 15px;
                border-radius: 5px;

                &:focus {
                  border: 1px solid #f84563;
                }
              }
            }
          }

          .formGroup {
            display: flex;
            flex-direction: column;
            flex: 1;

            label {
              padding: 0.5rem 0;
            }

            .formInput,
            .formTextarea {
              border: 1px solid #dce0eb;
              outline: none;
              padding: 10px 15px;
              border-radius: 5px;

              &:focus {
                border: 1px solid #f84563;
              }
            }
          }

          .btnGroup {
            // width: 100%;

            button {
              color: #fff;
              // width: 100%;

              background-color: #f84563;
              padding: 0.5rem 1rem;
              border-radius: 5px;
              border:1px solid #f1697f;
              &:hover {
                background-color: #fff;
                color: #f1697f;
                border:1px solid #f1697f;
              }
            }
          }
        }
      }
    }
  }
}
