
// .plyr {
//   width: 100%;
//   height: 575px;
// }

.video-player-container {
  display: block;
  max-width: 100%;
  overflow: hidden;

  .plyr {
    width: 100%; // Bắt buộc để Plyr điều chỉnh theo container
    height: 100%; // Đảm bảo chiều cao theo container cha
  }

  .plyr__control--overlaid {
    background-color: #F66962;
  }
  
  .plyr--video .plyr__control:hover {
    background-color: #814b48;
  }
  
  .plyr--full-ui input[type=range] {
    color: #F66962;
  }
}

