.dark .ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled) {
  background: #2b2838;
}

.dark .ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover {
  border: 1px dashed #c7c7c740; /* Màu border khi hover */
}
.ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 0;
}

.ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover {
  border: 1px dashed #c1c9d2;
  :focus {
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  }
}

.ant-upload-wrapper .ant-upload-disabled {
  background: #fafafa;
}

.dark .ant-upload-wrapper .ant-upload-disabled {
  background: #131022;
}

.ant-upload-wrapper .ant-upload-drag {
  border: 1px solid #c7c7c740;
}
