/* paymentMethodAntd.scss */
.payment-method-wrapper {
  .dark .ant-input-outlined:focus,
  .ant-input-outlined:focus-within {
    box-sizing: border-box;
    border: 2px solid #ec7d37;
    outline: 0;
    background-color: transparent;
  }

  .ant-input {
    border: 2px solid #e5e7eb;
  }

  .dark .ant-input {
    border: 2px solid transparent;
    background-color: #131022;
  }

  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
  }

  .ant-input:hover {
    border: 2px solid #ec7d37;
    background-color: transparent;
  }
}
