.ant-progress .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #1677ff;
}

.dark .ant-progress .ant-progress-circle-trail {
  stroke: #b9b7c0;
}

.dark .ant-progress.ant-progress-circle .ant-progress-text {
    color: #fff;
} 